<form id="asideSrcForm" method="GET" action="/archive/">
    <input id="asideSrcField" type="text" name="q" placeholder="Søg i arkivet...">
    <button id="asideSrcSubmit" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form> <!-- /asideSrcForm -->