<footer id="siteFooter">
    <ul id="footerSepList">
        <li class="footerSepItem">
            <h2 class="footerSepTitle">
                Adresse
            </h2>
            <ul class="footerInfoList">
                <li class="footerInfoItemBold">
                    Magasinet Bil, Båd & Bike
                </li>
                <li class="footerInfoItem"  id="footerInfoRoad">
                    Marielundvej 46 E
                </li>
                <li class="footerInfoItem" id="footerInfoCity">
                    2730 Herlev
                </li>
                <li class="footerInfoItem" id="footerInfoCountry">
                    Denmark
                </li>
            </ul>
        </li>
        <li class="footerSepItem">
            <h2 class="footerSepTitle">
                Kontakt
            </h2>
            <ul class="footerInfoList">
                <li class="footerInfoItem" id="footerInfoPhone">
                    Telefon: +45 7011 5100
                </li>
                <li class="footerInfoItem" id="footerInfoFax">
                    Fax: +45 4485 8925
                </li>
                <li class="footerInfoItem" id="footerInfoEmail">
                    E-mail: redaktionen@bbbmag.dk
                </li>
            </ul>
        </li>
        <li class="footerSepItem">
            <h2 class="footerSepTitle">
                Nyhedsbrev
            </h2>
            <div id="footerNewsForm">
                <input id="footerNewsField" type="text" placeholder="E-mailadresse" require>
                <input id="footerNewsAdd" class="footerNewsBtn" type="button" value="TILMELD">
                <input id="footerNewsRemove" class="footerNewsBtn" type="button" value="AFMELD">
            </div> <!-- /footerNewsForm -->
        </li>
    </ul> <!-- /footerSepList -->
</footer> <!-- /siteFooter -->