<div id="siteHeader">
    <a href="/">
        <img id="siteHeaderImg" src="/img/logo/logo.png"> <!-- /siteHeaderImg -->
    </a>
    <a id="signinBtn" href="/admin/signin">
        <i class="fas fa-sign-in-alt"></i>
        Log ind
    </a>
</div> <!-- /header -->