@charset "UTF-8";

/* ---------- fonts ---------- */

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
  font-weight:normal;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
  font-weight:bold;
}

@font-face {
  font-family: Open_Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight:normal;
}

@font-face {
  font-family: Open_Sans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight:bold;
}

/* ---------- document ---------- */

* {
  outline:0;
  margin:0;
  padding:0;
}

body {
  background-color:#F0F0F0;
}

/* ---------- containers ---------- */

#siteMain {
  width:1170px;
  margin:auto;
}

#siteContainer {
  width:1140px;
  background-color:#fff;
  float:left;
  padding:0 15px 0 15px;
}

/* ---------- header ---------- */

#siteHeader {
  float:left;
  height:160px;
  width:1140px;
}

#siteHeaderImg {
  float:left;
  height:80px;
  margin-top:40px;
}

/* ---------- navigation ---------- */

#siteNav {
  float:left;
  height:50px;
  width:1140px;
  background-color:#353537;
  border-bottom:4px solid #ffc000;
  list-style: none;
}

.siteNavItem {
  float:left;
}

.siteNavLink {
  float:left;
  height:35px;
  padding:16px 15px 0 15px;
  color:#fff;
  text-decoration: none;
  font-family: Open_Sans;
  font-weight:bold;
  font-size:14px;
}

.siteNavLinkActive {
  background-color:#ffc000;
}

/* ---------- breadcrumb ---------- */

#siteBreadcrumb {
  width:750px;
  float:left;
  margin-top:20px;
  height:20px;
}

#breadcrumbSeperator {
  float:left;
  font-size:14px;
  color:#cdd7e3;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
}

#breadcrumbHome {
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  text-decoration: none;
  font-size:14px;
  margin-right:8px;
}

#breadcrumbOther {
  float:left;
  color:#777777;
  font-family: Open_Sans;
  font-weight: normal;
  text-decoration: none;
  font-size:14px;
  margin-left:8px;
  margin-right:8px;
}

#breadcrumbArticle {
  float:left;
  color:#777777;
  font-family: Open_Sans;
  font-weight: normal;
  text-decoration: none;
  font-size:14px;
  margin-left:8px;
}

/* ---------- main content ---------- */

#siteContent {
  width:750px;
  float:left;
}

#siteMainTitle {
  width:750px;
  color:#353537;
  font-family: Oswald;
  font-weight: bold;
  font-size:36px;
  padding:0 0 2px 0;
  margin-top:20px;
  float:left;
  border-bottom:4px solid #353537;
}

#indexArticleList {
  width:750px;
  float:left;
  list-style: none;
}

.indexArticleItem {
  min-height:100px;
  width:355px;
  float:left;
  margin:20px 40px 0 0;
}

.indexArticleItem:nth-child(2n+0) {
  margin-right:0;
}

.indexArticleTitle {
  float:left;
  width:355px;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:24px;
}

.indexArticleInfoSpan {
  width:355px;
  float:left;
  margin-top:10px;
}

.indexArticleAbout {
  float:left;
  color:#777777;
  font-family: Oswald;
  font-weight: normal;
  font-size:13px;
  margin-right:12px;
  margin-bottom:5px;
}

.indexArticleIcon {
  padding-right:5px;
  font-size:14px;
}

.indexArticleDescription {
  width:355px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-top:10px;
  min-height:100px;
  line-height: 25px;
}

.indexArticleTagCon {
  width:355px;
  float:left;
  margin-top:10px;
}

.indexArticleTag {
  float:left;
  color:#777777;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
}

.indexArticleMore {
  float:left;
  background-color:#e6e6e6;
  padding:15px 35px 15px 35px;
  cursor: pointer;
  font-size:14px;
  color:#777;
  font-family:Oswald;
  font-weight: normal;
  margin:15px 15px 0 0;
  text-decoration: none;
}

#siteCatList {
  width:750px;
  float:left;
  min-height:100px; /* delete */
  list-style:none;
}

.siteCatItem {
  float:left;
  width:750px;
  margin-top:20px;
}

.siteCatTitle {
  float:left;
  width:750px;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:24px;
}

.siteCatInfoSpan {
  width:750px;
  float:left;
  margin-top:10px;
}

.siteCatDescription {
  width:750px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-top:10px;
  line-height: 25px;
}

.siteCatMore {
  float:left;
  background-color:#e6e6e6;
  padding:15px 35px 15px 35px;
  cursor: pointer;
  font-size:14px;
  color:#777;
  font-family:Oswald;
  font-weight: normal;
  margin:15px 15px 0 0;
  text-decoration: none;
}

#articleEditorCon {
  width:750px;
  float:left;
  margin-top:10px;
}

#artEditorImg {
  float:left;
  height:70px;
  max-width:70px;
}

#artEditorHead {
  width:670px;
  float:left;
  padding-left:10px;
}

#artEditorTitle {
  float:left;
  font-size:18px;
  color:#353537;
  font-family:Open_Sans;
  font-weight: normal;
}

#artEditorRole {
  float:left;
  font-size:14px;
  color:#777777;
  font-family:Open_Sans;
  font-weight: normal;
  margin-top:4px;
  margin-left:10px;
}

#artEditorAbout {
  width:670px;
  float:left;
  padding-left:10px;
  font-size:14px;
  color:#353537;
  font-family:Open_Sans;
  font-weight: normal;
  margin-top:5px;
}

/* ---------- article comments ---------- */

#artCommList {
  width:750px;
  float:left;
  list-style: none;
}

.artCommItem {
  float:left;
  width:750px;
  margin-top:10px;
  margin-bottom:10px;
}

.artCommIconCon {
  width:35px;
  float:left;
}

.artCommIcon {
  font-size:25px;
  color:#353537;
}

.artCommCon {
  width:715px;
  float:left;
  border-bottom:1px solid #eeeeee;
  padding-bottom:20px;
}

.artCommName {
  width:715px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:18px;
  line-height: 18px;
}

.artCommDateCon {
  width:715px;
  float:left;
  color:#777777;
  font-family: Oswald;
  font-weight: normal;
  font-size:13px;
  margin-top:5px;
}

.artCommText {
  width:715px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-top:2px;
}

#articleCommTitle {
  width:750px;
  color:#353537;
  font-family: Oswald;
  font-weight: bold;
  font-size:36px;
  padding:0 0 2px 0;
  margin-top:20px;
  margin-bottom:5px;
  float:left;
  border-bottom:4px solid #353537;
}

#artCommNone {
  width:750px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  text-align: center;
  padding-top:15px;
  padding-bottom:20px;
  border-bottom:1px solid #eeeeee;
}

/* ---------- article comment form ---------- */

#commentForm {
  width:750px;
  float:left;
  margin-top:30px;
}

#commentFormTitle {
  width:750px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:24px;
  line-height:24px;
  margin-bottom:20px;
}

#commentLaName {
  width:360px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-bottom:5px;
}

#commentLaMail {
  width:360px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-bottom:5px;
  margin-left:30px;
}

#commentLaText {
  width:750px;
  float:left;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  margin-top:20px;
  margin-bottom:5px;
}

#commentName {
  width:338px;
  float:left;
  border:1px solid #e6e6e6;
  border-radius:3px;
  height:24px;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  padding:10px;
}

#commentMail {
  width:338px;
  float:left;
  border:1px solid #e6e6e6;
  border-radius:3px;
  height:24px;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  padding:10px;
  margin-left:30px;
}

#commentMessage {
  width:730px;
  float:left;
  border:1px solid #e6e6e6;
  border-radius:3px;
  height:100px;
  color:#353537;
  font-family: Open_Sans;
  font-weight: normal;
  font-size:14px;
  padding:10px;
  resize: vertical;
}

#commentSubmit {
  float:left;
  background-color:#E6E6E6;
  height:44px;
  padding:0 35px 0 35px;
  border:0;
  cursor: pointer;
  font-size:14px;
  color:#777;
  font-family:Oswald;
  font-weight: normal;
  margin:15px 15px 0 0;
}

/* ---------- aside ---------- */

#siteAside {
  width:300px;
  float:right;
  background-color:#f0f0f0;
  padding:15px 30px 15px 30px;
  margin-top:20px;
}

#asideSrcForm {
  width:300px;
  height:44px;
  float:left;
}

#asideSrcField {
  width:166px;
  height:12px;
  border:1px solid #E6E6E6;
  float:left;
  padding:15px 10px 15px 10px;
}

#asideSrcSubmit {
  width:82px;
  height:44px;
  border:0;
  float:right;
  background-color:#E6E6E6;
}

#asideSrcSubmit i {
  color:#7C7777;
  cursor: pointer;
}

#asideTitle {
  color:#353537;
  font-family: Oswald;
  font-weight: bold;
  font-size:18px;
  padding:12px 0 12px 0;
  margin:0 0 12px 0;
  float:left;
  width:300px;
  border-bottom:4px solid #353537;
}

#asideMostList {
  width:250px;
  float:left;
  padding:0 0 0 30px;
}

.asideMostItem {
  float:left;
  padding:2px 0 2px 0;
}

.asideMostLink {
  float:left;
  font-size:14px;
  color:#353537;
  font-family:Open_Sans;
  font-weight: normal;
  text-decoration: none;
  width:250px;
}

#asideSponsorList {
  float:left;
  width:300px;
  list-style: none;
}

.asideSponsorItem {
  float:left;
  width:300px;
  margin-bottom:15px;
}

.asideSponsorItem:last-child {
  margin-bottom:0;
}

.asideSponsorLink {
  float:left;
  width:300px;
}

#asideYourSpoLink {
  float:left;
  width:300px;
  text-align: center;
  text-decoration: none;
  font-size:14px;
  color:#353537;
  font-family:Open_Sans;
  font-weight: normal;
  text-decoration: none;
}

.asideSponsorImg {
  margin:auto;
  display:block;
}

/* ---------- footer ---------- */

#siteFooter {
  width:1110px;
  float:left;
  background-color:#353537;
  margin-top:20px;
  padding:30px 15px 30px 15px;
}

#footerSepList {
  float:left;
  width:1140px;
  list-style:none;
}

.footerSepItem {
  float:left;
  width:370px;
}

.footerSepTitle {
  float:left;
  width:370px;
  font-size:18px;
  color:#fff;
  font-family:Open_Sans;
  font-weight: normal;
}

.footerInfoList {
  float:left;
  width:370px;
  margin-top:20px;
  list-style: none;
}

.footerInfoItemBold {
  float:left;
  width:370px;
  font-size:14px;
  color:#fff;
  font-family:Open_Sans;
  font-weight: bold;
  margin-bottom:10px;
}

.footerInfoItem {
  float:left;
  width:370px;
  font-size:14px;
  color:#fff;
  font-family:Open_Sans;
  font-weight: normal;
  margin-bottom:10px;
}

.footerInfoItem:last-child {
  margin-bottom:0;
}

/* ---------- footer newsletter ---------- */

#footerNewsForm {
  width:370px;
  float:left;
  margin-top:10px;
}

#footerNewsField {
  width:340px;
  float:left;
  height:10px;
  border:0;
  border-radius:3px;
  padding:18px 15px 18px 15px;
  font-size:14px;
}

.footerNewsBtn {
  float:left;
  background-color:#E6E6E6;
  height:44px;
  padding:0 35px 0 35px;
  border:0;
  cursor: pointer;
  font-size:14px;
  color:#777;
  font-family:Oswald;
  font-weight: normal;
  margin:15px 15px 0 0;
}