<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Magasinet - Kontakt</title>
        <!-- style -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <main id="siteMain">
            <div id="siteContainer">
                <% include ../partials/siteHeader %>
                <ul id="siteNav">
                    <!-- navigation placed here -->
                </ul> <!-- /siteNav -->
                <div id="siteContent">
                    <span id="siteBreadcrumb">
                        <!-- breadcrumbs placed here -->
                    </span>
                    <h1 id="siteMainTitle">
                        KONTAKT MAGASINET
                    </h1>
                    <div id="contactInfoCon">
                        <!-- about placed here -->
                    </div>
                    <h2 id="contactFormTitle">Kontaktformular</h2>
                    <div id="contactForm">
                        <label id="commentLaName">
                            Dit navn
                        </label>
                        <label id="commentLaMail">
                            Din e-mailadresse
                        </label>
                        <input type="text" id="commentName" name="name" require>
                        <input type="text" id="commentMail" name="email" require>
                        <label id="commentLaSubject">
                            Emne
                        </label>
                        <input type="text" id="commentSubject" name="subject" require>
                        <label id="commentLaText">
                            Din besked
                        </label>
                        <textarea id="commentMessage"></textarea>
                        <input id="commentSubmit" type="button" value="SEND BESKED">
                    </div> <!-- /commentForm -->
                </div> <!-- /siteContent -->
                <aside id="siteAside">
                    <% include ../partials/asideArchive %>
                    <h2 id="asideTitle">
                        MEST LÆSTE
                    </h2> <!-- /asideTitle -->
                    <ul id="asideMostList">
                        <!-- most viewed articles placed here -->
                    </ul> <!-- /asideMostList -->
                    <h2 id="asideTitle">
                        SPONSOR
                    </h2> <!-- /asideTitle -->
                    <ul id="asideSponsorList">
                        <!-- sponsors placed here -->
                    </ul> <!-- /asideSponsorList -->
                </aside> <!-- /siteAside -->
                <% include ../partials/siteFooter %>
            </div> <!-- /siteContainer -->
        </main> <!-- /main -->

        <!-- script -->
        <script src="/js/navigation.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/footer.js"></script>
    </body>
</html>