<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Forside</title>
        <!-- style -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <main id="siteMain">
            <div id="siteContainer">
                <div id="siteHeader">
                    <img id="siteHeaderImg" src="/img/logo/logo.png"> <!-- /siteHeaderImg -->
                </div> <!-- /header -->
                <ul id="siteNav">
                    <li class="siteNavItem">
                        <a class="siteNavLink siteNavLinkActive" href="/">
                            <i class="fas fa-home"></i>
                            FORSIDE
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            BILER
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            BÅDE
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            BIKE'S
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            ARKIVET
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            KONTAKT
                        </a>
                    </li>
                    <li class="siteNavItem">
                        <a class="siteNavLink" href="/">
                            REDAKTIONEN
                        </a>
                    </li>
                </ul> <!-- /siteNav -->
                <div id="siteContent">
                    FORSIDE
                </div> <!-- /siteContent -->
                <aside id="siteAside">

                </aside> <!-- /siteAside -->
                <footer id="siteFooter">
                    
                </footer> <!-- /siteFooter -->
            </div> <!-- /siteContainer -->
        </main> <!-- /main -->

        <!-- script -->
        <script src="/js/main.js"></script>
    </body>
</html>