<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin</title>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <nav id="cmsSideNav">
            <!-- navigation placed here -->
        </nav>
        <main id="cmsMain">
            <div id="cmsHeader">
                <h1 id="cmsHeaderTitle">
                    Kontakt
                </h1>
                <div id="cmsHeaderUser">
                    <span id="cmsHeaderUsername">
                        admin
                    </span>
                    <ul id="cmsHeaderDrop">
                        <li class="cmsHeaderDropItem">
                            <a class="cmsHeaderDropLink" href="/admin/user/settings">
                                Indstillinger
                            </a>
                        </li>
                        <li class="cmsHeaderDropItem">
                            <span class="cmsHeaderDropLink" id="userLogOut">
                                Log ud
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <h2 class="adminArtCatTit" id="adminArtCatTit">
                Meddelser
            </h2>
            <ul id="adminComList">
                <!-- comments placed here -->
            </ul>
            <h2 class="adminArtCatTit" id="adminArtCatTit">
                Kontakt oplysninger
            </h2>
            <div id="updateAboutCon">
                <label class="adminSpoLabel">Gadenavn</label>
                <input type="text" id="aboutStreet" class="aboutUpField" required>
                <label class="adminSpoLabel">Postnummer</label>
                <input type="text" id="aboutZip" class="aboutUpField" required>
                <label class="adminSpoLabel">By</label>
                <input type="text" id="aboutCity" class="aboutUpField" required>
                <label class="adminSpoLabel">Land</label>
                <input type="text" id="aboutCountry" class="aboutUpField" required>
                <label class="adminSpoLabel">Telefonnummer</label>
                <input type="text" id="aboutPhone" class="aboutUpField" required>
                <label class="adminSpoLabel">Fax</label>
                <input type="text" id="aboutFax" class="aboutUpField" required>
                <label class="adminSpoLabel">E-mailadresse</label>
                <input type="text" id="aboutMail" class="aboutUpField" required>
                <button id="aboutSubmit">Gem</button>
            </div>
        </main>
        <script src="/js/admin_contact.js"></script>
        <script src="/js/admin_styling.js"></script>
    </body>
</html>